.example-container
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

.example-sidenav
    width: 260px
    background: #ffffff
    color: #b8c7ce

.menu-title
    margin-left: 8px

.mat-expansion-panel-header
    background: #ffffff
    color: #b8c7ce

.mat-list-item, .mat-list-item .mat-icon
    color: #b8c7ce

.mat-list-item:hover
    background: #ffffff

.example-sidenav-content
    padding: 16px

.mat-toolbar
    background: #3c8dbc
    color: #fff

body, html
  height: 100%
  margin: 0
.mat-expansion-panel 
    border-radius: 0
.mat-icon
    margin: -5px 8px
.mdc-list-item__primary-text
    vertical-align: super